:root {
    /*CORES*/
    --azul1: #051D3B;
    --azul2: #5081FB;
    --azul3: #7BA4FC;
    --azul4: #96B9FD;
}

body {
    background: #051D3B;
    margin: 2rem;
}

.principal{
    display: flex;
}

.texto__titulo {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
    color: #FFFFFF;
}

.texto__body {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.texto__sidebar{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.botao__filled:hover {
    background: #7BA4FC;
}

.botao__filled:active {
    border: 4px solid #5081FBB8;
}

.botao__outlined:hover {
    background: #5081FB29;
}

.botao__outlined:active {
    border: 4px solid #5081FB3D;
}

.campo__selecao:hover{
    background: #FFFFFF3D;
}

.menu__menu:hover{
    opacity: 64%;
}

.menu__menu:active{
    opacity:100%;
}