.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.cabecalho__barra {
    width: 55%;
    height: 1.5rem;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    padding: 1rem;
}

.cabecalho__icones{
    display: none;
}

.cabecalho__perfil {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.cabecalho__perfil:hover{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
}

.cabecalho__perfil_foto {
    width: 2rem;
    height: 2rem;
    margin: .5rem;
}

@media screen and (max-width: 480px){
    .cabecalho__barra {
        display: none;
    }

    .cabecalho__perfil {
        display: none;
    }

    .cabecalho__icones{
        display: flex;
    }
    .cabecalho__lupa{
        margin-right: 2rem;
    }
}

@media screen and (max-width: 1023px){
    .cabecalho__perfil {
        display: none;
    }

    .cabecalho__icones{
        display: flex;
    }

    .cabecalho__lupa{
        display: none;
    }

    .cabecalho__barra{
        width: 40%;
    }
}